<h2 class="screen-align">Test</h2>
<div class="">
    <div id="template-ia6m" class="">
        <div id="template-ie4y" class="">
            <div id="template-ibxt" class="">
                <div id="i0bt" class="">
                    <div id="template-ixsq" class="gjs-row">
                        <div id="template-io9j" class="gjs-cell">
                            <label id="template-iczf" class="">Name</label>
                            <input type="text" id="template-ii9l" class="form-control "
                            />
                            <div type="button" id="template-ivzu" (click)="GpCreate()" class="btn btn-primary ">Send</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>